## Pandas is an open-source, BSD-licensed Python library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

## Pandas deals with the following three data structures −

### 1.Series(1D)
### 2.DataFrame(2D)
### 3.Panel(3D)
#### These data structures are built on top of Numpy array, which means they are fast.

In [1]:
import pandas as pd
import numpy as np

### *Series

In [3]:
#A pandas Series can be created using the following constructor −

#pandas.Series( data, index, dtype, copy)

print(pd.Series([1,2,3,4,5]))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
data=np.array([11,22,33,44,55])
s=pd.Series(data,index=[100,101,102,103,104])
print(s)

100    11
101    22
102    33
103    44
104    55
dtype: int32

### *DataFrame

In [7]:
#A pandas DataFrame can be created using the following constructor −

#pandas.DataFrame( data, index, columns, dtype, copy)

In [8]:
#Empty dataframe

df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
#Creating dataframe from lists

data=[1,2,3,4,5]
print(pd.DataFrame(data))

   0
0  1
1  2
2  3
3  4
4  5

In [11]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,index=[1,2,3],columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
1    Alex  10.0
2     Bob  12.0
3  Clarke  13.0

In [14]:
#Creating a Datframe from Dict of ndarrays
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [15]:
#Creating a Dataframe from Lists of  dict
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [16]:
#Creating a DataFrame from Dict of Series
#Dictionary of Series can be passed to form a DataFrame. The resultant index is the union of all the series indexes passed.

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [17]:
#Column Addition:Adding a new column to the DataFrame

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print (df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [18]:
#Deleting a column
# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

Deleting the first column using DEL function:
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
Deleting another column using POP function:
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [20]:
#Row Selection, Addition, and Deletion
#-->Rows can be selected by passing row label to a loc function.
df.loc['a']

three    10.0
four     11.0
Name: a, dtype: float64

In [22]:
#Selection by integer location:Rows can be selected by passing integer location to an iloc function.

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [23]:
#Slice Rows:Multiple rows can be selected using ‘ : ’ operator.

print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [26]:
#Addition of Rows:Add new rows to a DataFrame using the append function. This function will append the rows at the end.
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

### *Panel

In [34]:
#A panel is a 3D container of data. 
#The names for the 3 axes are intended to give some semantic meaning to describing operations involving panel data. They are −

#items − axis 0, each item corresponds to a DataFrame contained inside.
#major_axis − axis 1, it is the index (rows) of each of the DataFrames.
#minor_axis − axis 2, it is the columns of each of the DataFrames.

#pandas.Panel(data, items, major_axis, minor_axis, dtype, copy)

## *Series Basic Functionality

In [43]:
s = pd.Series(np.random.randn(5))
print (s)

0   -1.205457
1    2.409657
2   -0.712127
3   -1.324499
4   -1.425185
dtype: float64

In [44]:
#axes
print ("The axes are:")
print (s.axes)

The axes are:
[RangeIndex(start=0, stop=5, step=1)]

In [45]:
#empty
print ("Is the Object empty?")
print (s.empty)

Is the Object empty?
False

In [46]:
#ndim
print ("The dimensions of the object:")
print (s.ndim)

The dimensions of the object:
1

In [48]:
#size
print ("The size of the object:")
print( s.size)

The size of the object:
5

In [49]:
#values
print ("The actual data series is:")
print (s.values)

The actual data series is:
[-1.20545653  2.40965658 -0.71212749 -1.32449914 -1.42518451]

In [51]:
#head and tail
print ("The first two rows of the data series:")
print (s.head(2))
print ("The last two rows of the data series:")
print (s.tail(2))

The first two rows of the data series:
0   -1.205457
1    2.409657
dtype: float64
The last two rows of the data series:
3   -1.324499
4   -1.425185
dtype: float64

## *DataFrame Basic Functionality

In [52]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [54]:
#T(Transpose)Returns the transpose of the DataFrame. The rows and columns will interchange.
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [56]:
#axes
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [57]:
#dtypes
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [58]:
#empty:Returns the Boolean value saying whether the Object is empty or not; True indicates that the object is empty.
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [59]:
#ndim
print ("The dimension of the object is:")
print (df.ndim)

The dimension of the object is:
2

In [61]:
#shape:Returns a tuple representing the dimensionality of the DataFrame. Tuple (a,b), where a represents the number of rows and b represents the number of columns.
print ("The shape of the object is:")
print (df.shape)

The shape of the object is:
(7, 3)

In [63]:
#size
print ("The total number of elements in our object is:")
print (df.size)

The total number of elements in our object is:
21

In [65]:
#values:Returns the actual data in the DataFrame as an NDarray.
print ("The actual data in our data frame is:")
print (df.values)

The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [66]:
#head and tail
print ("The first two rows of the data frame is:")
print (df.head(2))
print ("The first two rows of the data frame is:")
print (df.tail(2))

The first two rows of the data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
The first two rows of the data frame is:
    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8

In [69]:
#sum():Returns the sum of the values for the requested axis. By default, axis is index (axis=0).
print(df.sum())

Name      TomJamesRickyVinSteveSmithJack
Age                                  181
Rating                             25.61
dtype: object

In [73]:
#mean-Returns the average value of numerical columns
print (df.mean())

Age       25.857143
Rating     3.658571
dtype: float64

In [74]:
#std()-Returns the Bressel standard deviation of the numerical columns.

print (df.std())

Age       2.734262
Rating    0.698628
dtype: float64

In [79]:
#describe-The describe() function computes a summary of statistics pertaining to the DataFrame columns.
print(df.describe()) #numerical columns

             Age    Rating
count   7.000000  7.000000
mean   25.857143  3.658571
std     2.734262  0.698628
min    23.000000  2.560000
25%    24.000000  3.220000
50%    25.000000  3.800000
75%    27.500000  4.105000
max    30.000000  4.600000

In [80]:
print( df.describe(include=['object']))  #object − Summarizes String columns

         Name
count       7
unique      7
top     James
freq        1

In [15]:
print( df. describe(include='all'))   #all − Summarizes all columns together

                          A         x          y     C           D
count                    10  10.00000  10.000000    10   10.000000
unique                   10       NaN        NaN     2         NaN
top     2016-01-03 00:00:00       NaN        NaN  High         NaN
freq                      1       NaN        NaN     7         NaN
first   2016-01-01 00:00:00       NaN        NaN   NaN         NaN
last    2016-01-10 00:00:00       NaN        NaN   NaN         NaN
mean                    NaN   4.50000   0.561048   NaN  102.461283
std                     NaN   3.02765   0.338572   NaN    9.788269
min                     NaN   0.00000   0.050160   NaN   94.474243
25%                     NaN   2.25000   0.281052   NaN   94.897564
50%                     NaN   4.50000   0.588971   NaN   98.909412
75%                     NaN   6.75000   0.862604   NaN  106.964286
max                     NaN   9.00000   0.971187   NaN  124.153721

### *Reindexing

In [5]:
#Reindexing changes the row labels and column labels of a DataFrame. To reindex means to conform the data to match a given set of labels along a particular axis.

N=10
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})
print(df)

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print (df_reindexed)

           A    x         y       C           D
0 2016-01-01  0.0  0.050160    High   94.474243
1 2016-01-02  1.0  0.937533  Medium   94.493407
2 2016-01-03  2.0  0.958617    High  108.417382
3 2016-01-04  3.0  0.549859    High  124.153721
4 2016-01-05  4.0  0.202893    High   98.044549
5 2016-01-06  5.0  0.515529    High  112.257153
6 2016-01-07  6.0  0.628083  Medium   94.598577
7 2016-01-08  7.0  0.637817    High   95.794524
8 2016-01-09  8.0  0.971187  Medium   99.774274
9 2016-01-10  9.0  0.158805    High  102.604998
           A     C   B
0 2016-01-01  High NaN
2 2016-01-03  High NaN
5 2016-01-06  High NaN

In [9]:
#Reindex to Align with Other Objects

df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])

df1 = df1.reindex_like(df2)
print( df1)  #reindexing df1 like df2

       col1      col2      col3
0  0.988460  0.355499  2.031902
1  1.125140 -1.742503 -1.264181
2  1.674053  0.641232  0.759364
3 -1.176539 -1.967204  1.807471
4  0.370344  0.651518 -0.176323

In [13]:
#Filling while ReIndexing

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(3,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
print (df2.reindex_like(df1,method='ffill'))

       col1      col2      col3
0 -1.268130 -0.413487  1.121822
1  2.400049  1.218237  0.100668
2  0.463015  1.130714  0.481060
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:
       col1      col2      col3
0 -1.268130 -0.413487  1.121822
1  2.400049  1.218237  0.100668
2  0.463015  1.130714  0.481060
3  0.463015  1.130714  0.481060
4  0.463015  1.130714  0.481060
5  0.463015  1.130714  0.481060

In [18]:
#Limits on Filling while Reindexing
#The limit argument provides additional control over filling while reindexing. Limit specifies the maximum count of consecutive matches.

print (df2.reindex_like(df1,method='ffill',limit=1))

       col1      col2      col3
0 -1.268130 -0.413487  1.121822
1  2.400049  1.218237  0.100668
2  0.463015  1.130714  0.481060
3  0.463015  1.130714  0.481060
4       NaN       NaN       NaN
5       NaN       NaN       NaN

In [19]:
#Renaming:The rename() method allows you to relabel an axis based on some mapping (a dict or Series) or an arbitrary function.
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print (df1)

print ("After renaming the rows and columns:")
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}))

       col1      col2      col3
0 -0.024183  0.011571 -1.958626
1  0.473525 -0.552492  0.759098
2  1.471162  1.131075  0.595703
3  0.524989 -0.116126 -1.691136
4 -0.734146  1.238959 -0.583419
5  1.444484 -0.094889 -0.619963
After renaming the rows and columns:
              c1        c2      col3
apple  -0.024183  0.011571 -1.958626
banana  0.473525 -0.552492  0.759098
durian  1.471162  1.131075  0.595703
3       0.524989 -0.116126 -1.691136
4      -0.734146  1.238959 -0.583419
5       1.444484 -0.094889 -0.619963

### *Iteration

In [21]:
print(df)

           A    x         y       C           D
0 2016-01-01  0.0  0.050160    High   94.474243
1 2016-01-02  1.0  0.937533  Medium   94.493407
2 2016-01-03  2.0  0.958617    High  108.417382
3 2016-01-04  3.0  0.549859    High  124.153721
4 2016-01-05  4.0  0.202893    High   98.044549
5 2016-01-06  5.0  0.515529    High  112.257153
6 2016-01-07  6.0  0.628083  Medium   94.598577
7 2016-01-08  7.0  0.637817    High   95.794524
8 2016-01-09  8.0  0.971187  Medium   99.774274
9 2016-01-10  9.0  0.158805    High  102.604998

In [23]:
for i in df:
    print(i)  #columns

A
x
y
C
D

In [24]:
for i,j in df.iteritems():  #each column is iterated separately as a key-value pair in a Series.
    print(i,j)

A 0   2016-01-01
1   2016-01-02
2   2016-01-03
3   2016-01-04
4   2016-01-05
5   2016-01-06
6   2016-01-07
7   2016-01-08
8   2016-01-09
9   2016-01-10
Name: A, dtype: datetime64[ns]
x 0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
Name: x, dtype: float64
y 0    0.050160
1    0.937533
2    0.958617
3    0.549859
4    0.202893
5    0.515529
6    0.628083
7    0.637817
8    0.971187
9    0.158805
Name: y, dtype: float64
C 0      High
1    Medium
2      High
3      High
4      High
5      High
6    Medium
7      High
8    Medium
9      High
Name: C, dtype: object
D 0     94.474243
1     94.493407
2    108.417382
3    124.153721
4     98.044549
5    112.257153
6     94.598577
7     95.794524
8     99.774274
9    102.604998
Name: D, dtype: float64

In [26]:
#iterrows():iterate over the rows
for row_index,row in df.iterrows():
   print (row_index,row)

0 A    2016-01-01 00:00:00
x                      0
y              0.0501602
C                   High
D                94.4742
Name: 0, dtype: object
1 A    2016-01-02 00:00:00
x                      1
y               0.937533
C                 Medium
D                94.4934
Name: 1, dtype: object
2 A    2016-01-03 00:00:00
x                      2
y               0.958617
C                   High
D                108.417
Name: 2, dtype: object
3 A    2016-01-04 00:00:00
x                      3
y               0.549859
C                   High
D                124.154
Name: 3, dtype: object
4 A    2016-01-05 00:00:00
x                      4
y               0.202893
C                   High
D                98.0445
Name: 4, dtype: object
5 A    2016-01-06 00:00:00
x                      5
y               0.515529
C                   High
D                112.257
Name: 5, dtype: object
6 A    2016-01-07 00:00:00
x                      6
y               0.628083
C                 Medium
D                94.5986
Name: 6, dtype: object
7 A    2016-01-08 00:00:00
x                      7
y               0.637817
C                   High
D                95.7945
Name: 7, dtype: object
8 A    2016-01-09 00:00:00
x                      8
y               0.971187
C                 Medium
D                99.7743
Name: 8, dtype: object
9 A    2016-01-10 00:00:00
x                      9
y               0.158805
C                   High
D                102.605
Name: 9, dtype: object

In [27]:
#itertuples()
#itertuples() method will return an iterator yielding a named tuple for each row in the DataFrame. The first element of the tuple will be the row’s corresponding index value, while the remaining values are the row values.

for row in df.itertuples():
    print (row)

Pandas(Index=0, A=Timestamp('2016-01-01 00:00:00'), x=0.0, y=0.05016024842309286, C='High', D=94.47424313910398)
Pandas(Index=1, A=Timestamp('2016-01-02 00:00:00'), x=1.0, y=0.9375332742507523, C='Medium', D=94.49340692016003)
Pandas(Index=2, A=Timestamp('2016-01-03 00:00:00'), x=2.0, y=0.9586173407183243, C='High', D=108.41738169303424)
Pandas(Index=3, A=Timestamp('2016-01-04 00:00:00'), x=3.0, y=0.5498592934824361, C='High', D=124.15372079543543)
Pandas(Index=4, A=Timestamp('2016-01-05 00:00:00'), x=4.0, y=0.20289280841191526, C='High', D=98.04454933070096)
Pandas(Index=5, A=Timestamp('2016-01-06 00:00:00'), x=5.0, y=0.5155290799742133, C='High', D=112.25715274872987)
Pandas(Index=6, A=Timestamp('2016-01-07 00:00:00'), x=6.0, y=0.6280832559373719, C='Medium', D=94.59857747875647)
Pandas(Index=7, A=Timestamp('2016-01-08 00:00:00'), x=7.0, y=0.6378170819500117, C='High', D=95.79452377463349)
Pandas(Index=8, A=Timestamp('2016-01-09 00:00:00'), x=8.0, y=0.9711867613156809, C='Medium', D=99.77427434516042)
Pandas(Index=9, A=Timestamp('2016-01-10 00:00:00'), x=9.0, y=0.15880533442862788, C='High', D=102.60499825741638)

### *Sorting

In [28]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print (unsorted_df)

       col2      col1
1  1.280728 -0.079589
4  0.633344 -0.230629
6  0.667473 -2.186472
2  1.510824  0.634146
3 -0.756045  0.049328
5  0.896370  1.778043
9 -0.361937 -0.293637
8  1.127038 -0.625906
0 -0.003888 -0.200351
7  0.033601  0.541789

In [30]:
sorted_df=unsorted_df.sort_index()
print (sorted_df)  #By label

       col2      col1
0 -0.003888 -0.200351
1  1.280728 -0.079589
2  1.510824  0.634146
3 -0.756045  0.049328
4  0.633344 -0.230629
5  0.896370  1.778043
6  0.667473 -2.186472
7  0.033601  0.541789
8  1.127038 -0.625906
9 -0.361937 -0.293637

In [33]:
sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)  #descending form by label

       col2      col1
9 -0.361937 -0.293637
8  1.127038 -0.625906
7  0.033601  0.541789
6  0.667473 -2.186472
5  0.896370  1.778043
4  0.633344 -0.230629
3 -0.756045  0.049328
2  1.510824  0.634146
1  1.280728 -0.079589
0 -0.003888 -0.200351

In [34]:
#Sort the columns
sorted_df=unsorted_df.sort_index(axis=1)

print (sorted_df)

       col1      col2
1 -0.079589  1.280728
4 -0.230629  0.633344
6 -2.186472  0.667473
2  0.634146  1.510824
3  0.049328 -0.756045
5  1.778043  0.896370
9 -0.293637 -0.361937
8 -0.625906  1.127038
0 -0.200351 -0.003888
7  0.541789  0.033601

In [36]:
#By value:sort_values() is the method for sorting by values. It accepts a 'by' argument which will use the column name of the DataFrame with which the values are to be sorted.
sorted_df = unsorted_df.sort_values(by='col1')

print (sorted_df)

       col2      col1
6  0.667473 -2.186472
8  1.127038 -0.625906
9 -0.361937 -0.293637
4  0.633344 -0.230629
0 -0.003888 -0.200351
1  1.280728 -0.079589
3 -0.756045  0.049328
7  0.033601  0.541789
2  1.510824  0.634146
5  0.896370  1.778043

In [38]:
#sort_values() provides a provision to choose the algorithm from mergesort, heapsort and quicksort. Mergesort is the only stable algorithm.
sorted_df = unsorted_df.sort_values(by='col1' ,kind='mergesort')

print (sorted_df)

       col2      col1
6  0.667473 -2.186472
8  1.127038 -0.625906
9 -0.361937 -0.293637
4  0.633344 -0.230629
0 -0.003888 -0.200351
1  1.280728 -0.079589
3 -0.756045  0.049328
7  0.033601  0.541789
2  1.510824  0.634146
5  0.896370  1.778043

### *Missing Data

In [39]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df)

        one       two     three
a  0.254727  1.051497 -1.161864
b       NaN       NaN       NaN
c -1.739577  0.697694  0.573911
d       NaN       NaN       NaN
e -0.947314  1.524777 -0.237225
f -0.116853 -1.425579  0.408163
g       NaN       NaN       NaN
h -0.242555  0.066947 -1.614472

In [40]:
#Check for Missing Values
#To make detecting missing values easier , Pandas provides the isnull() and notnull() functions

print (df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [41]:
print (df['one'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [44]:
#Cleaning / Filling Missing Data

df.fillna(0)  #filling with 0

        one       two     three
a  0.254727  1.051497 -1.161864
b  0.000000  0.000000  0.000000
c -1.739577  0.697694  0.573911
d  0.000000  0.000000  0.000000
e -0.947314  1.524777 -0.237225
f -0.116853 -1.425579  0.408163
g  0.000000  0.000000  0.000000
h -0.242555  0.066947 -1.614472

In [45]:
#Fill NA Forward and Backward
df.fillna(method='ffill')

        one       two     three
a  0.254727  1.051497 -1.161864
b  0.254727  1.051497 -1.161864
c -1.739577  0.697694  0.573911
d -1.739577  0.697694  0.573911
e -0.947314  1.524777 -0.237225
f -0.116853 -1.425579  0.408163
g -0.116853 -1.425579  0.408163
h -0.242555  0.066947 -1.614472

In [46]:
df.fillna(method='bfill')

        one       two     three
a  0.254727  1.051497 -1.161864
b -1.739577  0.697694  0.573911
c -1.739577  0.697694  0.573911
d -0.947314  1.524777 -0.237225
e -0.947314  1.524777 -0.237225
f -0.116853 -1.425579  0.408163
g -0.242555  0.066947 -1.614472
h -0.242555  0.066947 -1.614472

In [48]:
#Drop Missing Values
df.dropna()  #dropping the missing rows

        one       two     three
a  0.254727  1.051497 -1.161864
c -1.739577  0.697694  0.573911
e -0.947314  1.524777 -0.237225
f -0.116853 -1.425579  0.408163
h -0.242555  0.066947 -1.614472

### *GroupBy

In [49]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print (df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [50]:
print(df.groupby('Team'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000009BF23C988>

In [51]:
print(df.groupby(['Team','Year']))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000009BF2295C8>

In [52]:
#View Groups
print(df.groupby('Team').groups)

{'Devils': Int64Index([2, 3], dtype='int64'), 'Kings': Int64Index([4, 6, 7], dtype='int64'), 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'), 'Royals': Int64Index([9, 10], dtype='int64'), 'kings': Int64Index([5], dtype='int64')}

In [53]:
print (df.groupby(['Team','Year']).groups)

{('Devils', 2014): Int64Index([2], dtype='int64'), ('Devils', 2015): Int64Index([3], dtype='int64'), ('Kings', 2014): Int64Index([4], dtype='int64'), ('Kings', 2016): Int64Index([6], dtype='int64'), ('Kings', 2017): Int64Index([7], dtype='int64'), ('Riders', 2014): Int64Index([0], dtype='int64'), ('Riders', 2015): Int64Index([1], dtype='int64'), ('Riders', 2016): Int64Index([8], dtype='int64'), ('Riders', 2017): Int64Index([11], dtype='int64'), ('Royals', 2014): Int64Index([9], dtype='int64'), ('Royals', 2015): Int64Index([10], dtype='int64'), ('kings', 2015): Int64Index([5], dtype='int64')}

In [54]:
#Iterating through groups
grouped = df.groupby('Year')

for name,group in grouped:
   print (name)
   print (group)

2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

In [56]:
#Selecting a single group
print (grouped.get_group(2016))

     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694

In [57]:
#Aggregations
print (grouped['Points'].agg(np.mean))

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [58]:
print (grouped['Points'].agg([np.sum, np.mean, np.std]))

       sum    mean        std
Year
2014  3181  795.25  87.439026
2015  3078  769.50  65.035888
2016  1450  725.00  43.840620
2017  1478  739.00  69.296465

### *Merging

In [59]:
#pd.merge(left,right,how='inner',on=None,left_on=None.right_on=None,left_index=False,right_index=False,sort=True)

In [60]:
import pandas as pd
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print (left)
print (right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [61]:
print (pd.merge(left,right,on='id'))

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5

In [62]:
#Merging on multiple keys
print (pd.merge(left,right,on=['id','subject_id']))

   id  Name_x subject_id Name_y
0   4   Alice       sub6  Bryce
1   5  Ayoung       sub5  Betty

In [63]:
#Merge Using 'how' Argument
#left->left outer join
#right->right outer join
#outer->outer join
#inner->inner join

In [64]:
print (pd.merge(left, right, on='subject_id', how='left'))

   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty

In [65]:
print (pd.merge(left, right, on='subject_id', how='right'))

   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   4.0   Alice       sub6     4  Bryce
3   5.0  Ayoung       sub5     5  Betty
4   NaN     NaN       sub3     3   Bran

In [66]:
print (pd.merge(left, right, how='outer', on='subject_id'))

   id_x  Name_x subject_id  id_y Name_y
0   1.0    Alex       sub1   NaN    NaN
1   2.0     Amy       sub2   1.0  Billy
2   3.0   Allen       sub4   2.0  Brian
3   4.0   Alice       sub6   4.0  Bryce
4   5.0  Ayoung       sub5   5.0  Betty
5   NaN     NaN       sub3   3.0   Bran

In [67]:
print (pd.merge(left, right, on='subject_id', how='inner'))

   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub6     4  Bryce
3     5  Ayoung       sub5     5  Betty

### *Concatenation

In [68]:
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])

two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,5])
print (pd.concat([one,two]))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [69]:
print (pd.concat([one,two],keys=['x','y']))

       Name subject_id  Marks_scored
x 1    Alex       sub1            98
  2     Amy       sub2            90
  3   Allen       sub4            87
  4   Alice       sub6            69
  5  Ayoung       sub5            78
y 1   Billy       sub2            89
  2   Brian       sub4            80
  3    Bran       sub3            79
  4   Bryce       sub6            97
  5   Betty       sub5            88

In [74]:
print (pd.concat([one,two],axis=1))

     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1            98  Billy       sub2            89
2     Amy       sub2            90  Brian       sub4            80
3   Allen       sub4            87   Bran       sub3            79
4   Alice       sub6            69  Bryce       sub6            97
5  Ayoung       sub5            78  Betty       sub5            88

In [75]:
#Concatenating using append
print(one.append(two))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [76]:
#Time Series
#current date and time
print(pd.datetime.now())

2020-07-19 19:28:08.073372

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [77]:
#TimeDelta
print(pd.Timedelta('2 days 2 hours 2minutes 2 seconds'))

2 days 02:02:02

In [78]:
print(pd.Timedelta(2,unit='h'))

0 days 02:00:00